# Ignore temporary files
*.tmp
*.log

# Ignore build artifacts
/build
/dist

config.json
credentials.txt

data/**
runs/
__pycache__/

/Model/model.pt

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/**

